<!DOCTYPE html>
<html>
  <head>
    <title>Mepre</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <div class="footer">
    <div>
      <a class="fotter-text" href="http://twitter.com/tomoki_sun">
        運営者/
      </a>
      <a class="footer-text" href="/">
        トップ/
      </a>
      <a class="footer-text" href="/privacy">
        プライバシーポリシー/
      </a>
      <a class="footer-text" href="/service">
        利用規約
      </a>
    </div>
  </div>
</html>
